.Ticket {
    height: 150px;
    width:auto;
    color: aliceblue;
    background-color :rgb(36, 67, 93);
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(61, 60, 60, 0.5);

}