.ticket-container {
    height: 240px;
    background-color: azure;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(59, 59, 61, 0.1);
}

.ticket {
    border : 2px solid rgb(216, 81, 104);
    border-radius: 10px;
    color : rgb(216, 81, 104);
}